@import "helpers/_variables"
@import "helpers/_mixins"

.deviceContainer
    flex: 0 0 260px
    padding: 0.5rem 1.3rem
    margin: 1.3rem 0
    background: darken($background, 5%)
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4)
    border-radius: 3px
    cursor: pointer
    transition: all 0.2s ease-in-out
    text-decoration: none
    color: $header-text
    &:hover
        background: darken($background, 8%)
        transform: scale(1.04)
    +mobile
        flex-grow: 1
        margin: 1rem 0