@import _variables

.container
    display: flex
    justify-content: space-between
    align-items: center
    span
        h2
            color: $header-text
            line-height: 0.6em
            font-size: 3em
            margin: 0
            padding: 1.2rem 0
        button
            border: none
            background: $border-color
            font-size: 1.3em
            color: $text-color
            padding: 0.8rem 1rem
            margin: 1.2rem 0
            border-radius: 3px
            cursor: pointer
            transition: all 0.2s ease-in-out
            &:hover
                background: rgba($border-color, 0.8)
                transform: translateY(-2px)
    div
        width: 450px
        img
            width: 100%



